<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--<context:component-scan base-package="it.bologna.ausl" />-->
    <mvc:annotation-driven />


    <!--<odata:server address="/OData.svc" factory="jPAServiceFactory" id="SomeIdForTheService"/>-->
    <bean name="jPAServiceFactory" class="it.bologna.ausl.baborg.odata.processor.JPAServiceFactory"/>

    <bean id="rootLocator" class="org.apache.olingo.odata2.spring.OlingoRootLocator" >
        <property name="serviceFactory" ref="jPAServiceFactory" />
    </bean>
    <bean id="exceptionhandler" class="org.apache.olingo.odata2.core.rest.ODataExceptionMapperImpl"/>
    <bean id="provider" class="org.apache.olingo.odata2.core.rest.app.ODataApplication.MyProvider"/>

    <jaxrs:server id="oDataServer" >
        <jaxrs:serviceBeans>
            <ref bean="rootLocator"/>
            <ref bean="exceptionhandler"/>
            <ref bean="provider" />
        </jaxrs:serviceBeans>
    </jaxrs:server>
</beans>